!!! Strict
%html(xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us")
	%head
		%link(rel="shortcut icon" href="/favicon.ico")
		%meta(http-equiv="content-type" content="text/html; charset=utf-8")
		%title Fly me to the Moon
		%meta(name="author" content="")

		/ Blueprint CSS
		%link{:rel => "stylesheet", :href => "/css/blueprint/screen.css", :type => "text/css", :media => "screen, projection"}

		%link{:rel => "stylesheet", :href => "/css/blueprint/print.css", :type => "text/css", :media => "print"}
		/[if IE]
			%link{:rel => "stylesheet", :href => "/css/blueprint/ie.css", :type => "text/css", :media => "screen, projection"}
		
		/ Import fancy-type plugin for the sample page.
		%link{:rel => "stylesheet", :href => "/css/blueprint/plugins/fancy-type/screen.css", :type => "text/css", :media => "screen, projection"}

		/ Coderay syntax highlighting CSS
		%link(rel="stylesheet" href="/css/coderay.css" type="text/css")
   
		/ Homepage CSS
		%link{:rel => "stylesheet", :href => "/stylesheets/site.css", :type => "text/css", :media => "screen, projection"}

	%body(style="filter:progid:DXImageTransform.Microsoft.Gradient(endColorstr='#C0CFE2', startColorstr='#FFFFFF', gradientType='0');")
		.container 
			<!-- .showgrid -->
			%div(class="column span-21 prepend-1 append-2 first last" id="header")
				%p(class="title")
					Fly Me To The Moon
					%a(href="/")
						%img(src="/images/house_go.png" alt="Moon Base")
				%hr/
			%div(class="column span-15 prepend-1 colborder first")
				= yield
			.column.span-5.append-2.last
				%h4 Some Facts
				%p
					-# The pipes at the end are multi-line symbols in HAML
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; |
					Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus     |
					pulvinar neque, non cursus sem nisi vel augue.                                          |

				.box
					%p(class="last")
						Mauris a lectus. Aliquam erat volutpat. Phasellus ultrices mi a sapien. Nunc rutrum   |
						egestas lorem. Duis ac sem sagittis elit tincidunt gravida.                           |

				%p(class="quiet")
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; |
					Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus     |
					pulvinar neque, non cursus sem nisi vel augue.                                          |

				%h5 Incremental leading
				%p(class="incr")
					Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; |
					Cras ornare mattis nunc. Mauris venenatis, pede sed aliquet vehicula, lectus tellus     |
					pulvinar neque, non cursus sem nisi vel augue. sed aliquet vehicula, lectus tellus.     |

			%div(class="column span-21 prepend-1 append-2 first last" id="footer")
				%hr/
				%p
					This website was created with
					%a(href="http://www.sinatrarb.com")Sinatra
